
BiLSTM_GUI_Disease-Predict-by-Symptoms/.ipynb_checkpoints/disease_predict_symptoms_gui_bilstm-checkpoint.ipynb
BiLSTM_GUI_Disease-Predict-by-Symptoms/disease_predict_symptoms_gui_bilstm.ipynb
BiLSTM_GUI_Disease-Predict-by-Symptoms/disease_predict_symptoms_gui_bilstm.ipynb
BiLSTM_Valheim-Twitter-SentimentAnalysis/.ipynb_checkpoints/Valheim_BiLSTM_Twitter-checkpoint.ipynb
British-Airways_Predict-Customer/.ipynb_checkpoints/British-Airways-Prediction-Model-checkpoint.ipynb
British-Airways_Predict-Customer/ba_predicted.pptx
British-Airways_Web-Scraping-Task/.ipynb_checkpoints/British-Airways-Analysis-Web-Scrapping-checkpoint.ipynb
*.pptx
*.pdf
Cognizant-EDA/eda.ipynb
Cognizant-EDA/sample_sales_data.csv
LSTM_Used-Car-Price-Prediction/.ipynb_checkpoints/Used_Car_Price_Prediction-checkpoint.ipynb
NB_SentimentAnalysis-Models-Comparation-Valheim-Twitter/NB_Models_Comparations_Valheim_Twitter.ipynb
New folder/.ipynb_checkpoints/Untitled-checkpoint.ipynb
New folder/ABC.csv
New folder/goodreads_test.csv
New folder/goodreads_train.csv
New folder/Untitled.ipynb
XGBOOST/.ipynb_checkpoints/Untitled-checkpoint.ipynb
XGBOOST/garments_worker_productivity.csv
XGBOOST/Untitled.ipynb
